section {
    height: auto;
    text-align: center;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
}

.datExp {
    align-items: center;
}

.boutton{
    margin-right: 2%;
    padding: 10%;
    margin: 5%;
 }

#c2{
    
}