{% extends 'quiz/main.html' %}

{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <link rel="stylesheet" href="{% static 'css/timer.css' %}">
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous" defer></script> 
    <script type="text/javascript" src="{% static 'js/timer.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/quizz.js' %}" defer></script>
 
{% endblock %}
{% block content %}

    <h1>QUIZ</h1>
    <div id="app"></div>  <!-- tag du compte à rebours pour une question  -->

    <div id="container-quiz">
        <p id="titre">  </p>
        <p id="intitule"> </p>

        <div id="container-reponses">
        </div>
    </div>
    <form id="myForm" method="POST">
        {% csrf_token %}
        <button id="valider" type="submit">Valider</button>
    </form>

    <!-- Déclaration des variables -->
    <script type="text/javascript">
        let timerQuestion = {{duree}};
        let titre         = "{{titre|safe}}";
        let intitule      = "{{intitule|safe}}"; 
        let listRep       = {{reponses|safe}};
    </script>

{% endblock %}