{% extends 'quiz/main.html' %}

{% block header %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <script src="{% static 'js/timer.js' %}" defer></script>
 
{% endblock %}
{% block content %}
    <div class="container">
        <h1>QUIZ</h1>
        <div id="timer"></div>
    </div>

    <div class="container">
        <p class="titre"> {{titre}} </p>
        <p class="intitule"> {{intitule}} </p>

        <div class="listReponse">
            <div class="reponses">
                {% for rep in reponses %}
                <input name={{"rep"}}{{rep.1}} type="checkbox" id="reponse">
                <label for={{"rep"}}{{rep.1}}>{{rep.0}}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    <form id="myForm" method="POST">
        {% csrf_token %}
        <div class="container">
            <button class="btn btn-secondary btn-lg" type="submit"> Suivant </button>
            <a href={% url 'pa1' %} class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Retour au menu</a>
        </div>
        {% comment %} <button type="submit">Valider</button> {% endcomment %}
    </form>

    <script>
        const departMinutes = {{duree}}
    </script>



{% endblock %}