{% extends 'base2.html' %}

{% block content %}
   
        

<section>

    <div class="container"><h1> Session en cours </h1>
        <a href="#">
        <div class="row m-3">
            <div class="col-lg mx-3 bg-secondary bg-gradient text-white" id ="c1" href="#"><h1> Session 1 </h1> </div>
            <div class="col-md-2 mx-2 bg-success bg-gradient text-white" id="c2"> Date expiration </div>
            <div class="col-md-2 mx-2 timer bg-dark bg-gradient text-white" id="c3"> Timer </div>
        </div>
        </a>

        <a href="#">
        <div class="row m-3">
            <div class="col-lg mx-3 bg-secondary bg-gradient text-white" id ="c1"><h1> Session 2 </h1> </div>
            <div class="col-md-2 mx-2 bg-success bg-gradient text-white" id="c2"> Date expiration </div>
            <div class="col-md-2 mx-2 timer bg-dark bg-gradient text-white" id="c3"> Timer </div>
        </div>
        </a>

        <a href="#">
        <div class="row m-3">
            <div class="col-lg mx-3 bg-secondary bg-gradient text-white" id ="c1"><h1> Session 3 </h1> </div>
            <div class="col-md-2 mx-2 bg-success bg-gradient text-white" id="c2"> Date expiration </div>
            <div class="col-md-2 mx-2 timer bg-dark bg-gradient text-white" id="c3"> Timer </div>
        </div>
        </a>
       
    </div>

</section>


        <div class="clock">
            <div class="clock-face">
            <div class="hand secHand"></div>
            <div class="hand minHand"></div>
            <div class="hand hourHand"></div>
            <div class="circle"></div>
            </div>
        </div>


{% endblock %}