{% extends 'quiz/main.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static "css/session.css"  %}" />

{% endblock%}


{% block content %}
<script>
    var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
</script>


<section>

    <div class="container">
<h1>Assigner Collaborateurs</h1>

<form action="done/{{ session.idsession }}" method="post">
{% csrf_token %}
<div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
      <select name='collab'>
        <option>Sélectionner les collaborateurs</option>
      </select>
      <div class="overSelect"></div>
    </div>
    <div id="checkboxes">
        {% for n in qp%}
        <label for="{{n}}">
            <input name='CC' type="checkbox" id="{{n}}" value="{{ n }}" />{{n}}</label>
        {%endfor%}  
    </div>
  </div>
  <br>
  <input type="submit" value="Valider">
  </form>


</div>
</section>



{% endblock %}