{% extends 'quiz/main.html' %}

{% block content %}
<section>

    <div class="container">
<h1>Update Session</h1>

<form action="updaterecord/{{ session.idsession }}" method="post">
{% csrf_token %}
<select name="nquizz">
    <option disabled="true" selected>Quizz défini: {{ session.idquizz_id }}  </option>
    {% for q in qz%}
    <option>{{q}}</option>
    {%endfor%}  
</select>
<br><br>
Date création:<br>
<input name="dateC" value="{{ session.datecreation }}">
<br><br>
Date Expiration:<br>
<input name="dateE" value="{{ session.dateexpiration }}">
<br><br>
Évaluation ?
<input type="checkbox" name="eva" value="{{ session.evaluation }}">
<input  type="hidden" value="{{ session.evaluation }}" name="eva">
<br>
Timer :<br>
<input name="timer" value="{{ session.timer }}">
<br><br>
<input type="submit" value="Valider">
</form>
</div>

</section>

{% endblock %}