{% extends 'navbar2.html' %}

{% block content %}
   

        <div class="container col-1 w-50 mx-auto">
            <form>
            <a class="row-lg w-100 py-3 my-3 btn btn-primary" href="{% url 'tbd' %}" role="button">Gestionnaire de session</a>
            <a class="row-lg w-100 py-3 my-3 btn btn-primary" href="uploadQuizz" role="button">Ajouter un Quiz</a>
            <a class="row-lg w-100 py-3 my-3 btn btn-primary" href="#" role="button">Ajouter des collaborateurs</a>
            </form>
        </div>

        <div class="clock">
            <div class="clock-face">
            <div class="hand secHand"></div>
            <div class="hand minHand"></div>
            <div class="hand hourHand"></div>
            <div class="circle"></div>
            </div>
        </div>


{% endblock %}