{% extends 'navbar2.html' %}

{% block content %}
    <section>

        <div class="container">
            <a href="#">
            <div class="row m-5">
                <div class="col-lg mx-3 bg-secondary bg-gradient text-white" id ="c1"><h1> Session 1 </h1> </a> </div>
                <div class="col-md-2 mx-2 bg-success bg-gradient text-white" id="c2"> Date expiration </div>
                <div class="col-md-2 mx-2 timer bg-dark bg-gradient text-white" id="c3"> Timer </div>
                <a class="col-sm-1 mx-1 btn btn-outline-secondary" href="#" role="button">modifier</a>
                <a class="col-sm-1 mx-1 btn btn-danger" href="#" role="button">effacer</a>
            </div>
             

            <a href="#">
            <div class="row m-5">
                <div class="col-lg mx-3 bg-secondary bg-gradient text-white" id ="c1"><h1> Session 2 </h1>  </a> </div>
                <div class="col-md-2 mx-2 bg-success bg-gradient text-white" id="c2"> Date expiration </div>
                <div class="col-md-2 mx-2 timer bg-dark bg-gradient text-white" id="c3"> Timer </div>
                <a class="col-sm-1 mx-1 btn btn-outline-secondary" href="#" role="button">modifier</a>
                <a class="col-sm-1 mx-1 btn btn-danger" href="#" role="button">effacer</a>
            </div>
            

            <a href="#">
            <div class="row m-5">
                <div class="col-lg mx-3 bg-secondary bg-gradient text-white" id ="c1"><h1> Session 3 </h1> </a> </div>
                <div class="col-md-2 mx-2 bg-success bg-gradient text-white" id="c2"> Date expiration </div>
                <div class="col-md-2 mx-2 timer bg-dark bg-gradient text-white" id="c3"> Timer </div>
                <a class="col-sm-1 mx-1 btn btn-outline-secondary" href="#" role="button">modifier</a>
                <a class="col-sm-1 mx-1 btn btn-danger" href="#" role="button">effacer</a>
            </div>
            

        </div>

    </section>

    


{% endblock %}