<!DOCTYPE html>
<html lang="fr">

<body>
    {% extends 'navbar.html' %}

    {% block mymessage %}
    d
    <section>

        <div class="session1">
            <h1> Session 1 </h1>
            <div class="datExp"> Date expiration </div>
            <div id="timer"> Timer </div>
            <a href="https://www.youtube.com">
                <button type="button" class="btn btn-primary">supprimer</button>
                </a> 
        </div>

        <div class="container">
            <h1> Session 2 </h1>
        </div>

        <div class="container">
            <h1> Session 3 </h1>
        </div>


    </section>



    {% endblock %}          
</body>
</html>